<form action="/timeout" target="timeout">
  <div class="form-group">
    <label for="exampleInputEmail1">Duration (ms)</label>
    <input name="duration" id="timeout-form-duration" value="1000" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="timeout-form-body">Body</label>
    <textarea name="body" id="timeout-form-body" class="form-control" rows="5">Hello world!</textarea>
  </div>
  <button class="btn btn-default">Submit</button>
</form>
<hr>
<iframe name="timeout" seamless frameborder="0"></iframe>
